* {
    margin: 0;
    padding: 0;

    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topnav {
    background: #4a009e;
    margin: 0;

    display: flex;

    align-items: end;

    top: 0px;
    width: 95%;
    overflow: hidden;
    position: fixed;
}

#topnav * {
    padding-right: .5rem;
    padding-bottom: .1rem;
}

#topnav h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

#topnav a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
}

#posts {
    margin-top: 30px;
    background: #F6F6EF;
}


body {
    width: 95%;
    height: 95%;
    margin: auto;
    background: #0000;
    font-size: 12px;
}

.post {
    display: flex;
}

.post-body {
    padding-left: 1rem;
    width: 100%;
}

.post-story {
    padding-top: 1rem;
    font-size: 1.3rem;

    display: table-cell;
}

.post-story * {
    padding-right: .5rem;
    float: left;
}

.index {
    padding-top: 1rem;
    width: 2rem;
    font-size: 1.2rem;
    color: #828282;
    text-align: right;
}

.post-story a {
    text-decoration: none;
}

.post-story p {
    font-size: 1rem;
}

.post-story .domain {
    padding-top: .25rem;
    font-size: .8rem;
}

span {
    display: flex;
}

.post-span {
    padding-top: .25rem;
}

.post-span * {
    padding-right: .5em;
}

.post-divider {
    margin-top: .5rem;
    background-color:rgb(206, 206, 206);
    border: none;
    height: 1px;
}